<ng-container>
  <!-- <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <img alt="Logo" src="./assets/media/avatars/blank.png" />
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ user$.firstName }} {{ user$.lastName }}
          <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"
            >Pro</span
          >
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          {{ user$.email }}
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div> -->
  
  
  <!-- <div class="menu-item px-5 {{this.currentRole$ == 1 ? 'btn-light-primary' : ''}}">
    <a (click)="fakeRoleToInputer()" class="menu-link px-5 cursor-pointer"> test as Inputer </a>
  </div>
  <div class="menu-item px-5 {{this.currentRole$ == 2 ? 'btn-light-primary' : ''}}">
    <a (click)="fakeRoleToAuthoriser()" class="menu-link px-5 cursor-pointer"> test as Authoriser </a>
  </div>

  <div class="menu-item px-5 {{this.currentRole$ == 3 ? 'btn-light-primary' : ''}}">
    <a (click)="fakeRoleToRepoter()" class="menu-link px-5 cursor-pointer"> test as Reporter </a>
  </div> -->


  <!-- <div class="separator my-2"></div> -->


  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer"> Sign Out </a>
  </div>


</ng-container>
