<div class="modal-header">
    <h3 class="modal-title required" id="agency-basic-title">Thông tin về tổ chức thực hiện giao dịch</h3>
    <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
  </div>
  <div class="card-body border-top p-9">
    <form [formGroup]="addFormOrganization" (ngSubmit)="addAccountSubmit()">

      <div class="col-lg-12 py-5">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Tên đầy đủ của tổ chức:</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tên đầy đủ của tổ chức"
                formControlName="ten_to_chuc" />
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="">b. Tên tiếng nước ngoài (nếu có):</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Tên tiếng nước ngoài" formControlName="ten_tieng_nuoc_ngoai" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">c. Tên viết tắt (nếu có): </span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tên viết tắt"
                formControlName="ten_viet_tat" />
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">g. Loại hình tổ chức:</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="loai_hinh_to_chuc">
                    <option value="" selected>Chọn loại hình tổ chức...</option>
                    <option value="1">Công ty TNHH Một thành viên</option>
                    <option value="2">Công ty TNHH Hai thành viên trở lên</option>
                    <option value="3">Công ty cổ phần</option>
                    <option value="4">Công ty hợp danh</option>
                    <option value="5">Doanh nghiệp tư nhân</option>
                    <option value="6">Tổ chức phi lợi nhuận</option>
                    <option value="7">Khác …</option>
                  </select>
            </div>
          </div>
        </div>
      </div>


    <div class="col-lg-12 py-5">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">d. Địa chỉ</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" formControlName="so_nha"
                placeholder="Địa chỉ" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Quận/Huyện" formControlName="quan_huyen"/>
              </div>
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố" formControlName="tinh_thanh"/>
              </div>
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Quốc gia" formControlName="quoc_gia"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">đ. Giấy phép thành lập số:</label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Giấy phép thành lập" formControlName="so_giay_phep" />
              </div>
              <div class="col-lg-4 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid" placeholder="Ngày cấp"
                  formControlName="ngay_cap" />
              </div>
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Nơi cấp" formControlName="noi_cap" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">e. MS doanh nghiệp/MS thuế:</label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="MS doanh nghiệp/MS thuế" formControlName="ms_ma_so" />
              </div>
              <div class="col-lg-4 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid" placeholder="Ngày cấp"
                  formControlName="ms_ngay_cap" />
              </div>
              <div class="col-lg-4 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Nơi cấp" formControlName="ms_noi_cap" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="">h. Ngành nghề kinh doanh chính:</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Ngành nghề kinh doanh chính"
                formControlName="nghanh_nghe_kinh_doanh" />
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center">
            <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">i. Số điện thoại liên lạc:</span></label>
            <div class="col-lg-8 flex-grow-1 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid"
                placeholder="Số điện thoại liên lạc" formControlName="so_dien_thoai" />
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6 required"><span>m. Danh sách các số tài khoản:</span></label>
        <div class="col-lg-10 fv-row" formArrayName="tai_khoan">  <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th style="width: 5%;"></th>
                <th style="width: 15%;">Số tài khoản</th>
                <th style="width: 15%;">Ngân hàng</th>
                <th style="width: 10%;">Loại tiền</th>
                <th style="width: 10%;">Loại tài khoản</th>
                <th style="width: 10%;">Ngày mở tài khoản</th>
                <th style="width: 15%;">Tình trạng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bankAccount of bankAccounts.controls; let i = index;" [formGroupName]="i"> <td style="text-align: center;">
                  <button class="btn btn-danger btn-sm" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <td>
                  <input class="form-control form-control-sm" formControlName="so_tai_khoan" type="text" placeholder="Số tài khoản" />
                </td>
                <td>
                  <input class="form-control form-control-sm" formControlName="ngan_hang" type="text" placeholder="Ngân hàng" />
                </td>
                <td>
                  <input class="form-control form-control-sm" formControlName="loai_tien" type="text" placeholder="Loại tiền" />
                </td>
                <td>
                  <input class="form-control form-control-sm" formControlName="loai_tai_khoan" type="text" placeholder="Loại tài khoản" />
                </td>
                <td>
                  <input class="form-control form-control-sm" formControlName="ngay_mo" type="date" />
                </td>
                <td>
                  <select class="form-select form-select-solid form-select-lg mb-3 mb-lg-0" formControlName="trang_thai">
                    <option value="active">Active</option>
                    <option value="removed">Removed</option>
                    <option value="pending">Pending</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-success" (click)="addRow()">Thêm</button>
          </div>
        </div>
      </div>

      <div class="modal-footer flex-center mt-5">
        <button type="reset" id="two-1-cancel" class="btn btn-light me-3">
          Cancel
        </button>
        <button type="submit" id="two-1-submit" class="btn btn-primary">
          <span class="indicator-label">Submit</span>
        </button>
      </div>

    </form>
  </div>
