<div>
  <header>
    <h2 class="modal-title" id="agency-basic-title">I. THÔNG TIN VỀ ĐỐI TƯỢNG BÁO CÁO</h2>
    <br><br>
  </header>
  <div>
    <header>
      <h3 class="modal-title required" id="agency-basic-title">1. Thông tin về đối tượng báo cáo</h3>
      <br>
    </header>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Tên đối tượng báo
              cáo:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Tên đối tượng báo cáo" />
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">b. Mã đối tượng báo
              cáo:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Mã đối tượng báo cáo" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">c. Địa chỉ (số nhà,
              đường/phố):</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Địa chỉ (số nhà, đường/phố)" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quận/Huyện" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quốc gia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">d. Điện thoại:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Điện thoại" />
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">đ. Tên điểm phát sinh giao dịch
              hoặc đơn vị quản lý tài khoản:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Tên điểm phát sinh giao dịch" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">e. Địa chỉ điểm phát sinh giao dịch
              hoặc địa chỉ đơn vị quản lý tài khoản:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Địa chỉ điểm phát sinh giao dịch" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quận/Huyện" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quốc gia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">g. Điện thoại:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Điện thoại" />
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">h. Địa chỉ email của đơn vị (nhận email xác nhận của Cơ quan thực hiện chức năng, nhiệm vụ phòng, chống rửa tiền thuộc Ngân hàng Nhà nước Việt Nam):</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Địa chỉ email của đơn vị" />
          </div>
        </div>
      </div>
    </div>

    <div><br></div>
    <div>
      <header>
        <h3 class="modal-title required" id="agency-basic-title">2. Thông tin về người chịu trách nhiệm về phòng, chống
          rửa tiền và người lập báo cáo</h3>
        <br>
      </header>
      <div><br></div>
      <div>
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <header>
              <h4 class="modal-title required" id="agency-basic-title">- Thông tin về người chịu trách nhiệm về phòng,
                chống rửa tiền</h4>
              <br>
            </header>
          </div>

          <div class="col-lg-6 d-flex align-items-center">
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" [(ngModel)]="oneSelectAdministrator">
                <option value="">Vui lòng chọn người chịu trách nhiệm về phòng, chống rửa tiền</option>
                <option value="1">Tpb - Nguyễn Văn A</option>
                <option value="2">Tpb - Nguyễn Văn B</option>
                <option value="3">Tpb - Nguyễn Văn C</option>
                <option value="0">Khác ...</option>
              </select>
            </div>
          </div>
        </div>

        <div><br></div>
        <div *ngIf="oneSelectAdministrator === '0'">
          <div class="col-lg-12 py-5">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Họ và tên:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Họ và tên" />
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="">b. Điện thoại nơi làm
                    việc:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid"
                    placeholder="Điện thoại nơi làm việc" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 py-5">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="">c. Điện thoại di động:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid"
                    placeholder="Điện thoại di động" />
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="">d. Chức vụ:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Chức vụ" />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div><br><br></div>
      <div>
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <header>
              <h4 class="modal-title required" id="agency-basic-title">- Thông tin về người lập báo cáo</h4>
              <br>
            </header>
          </div>

          <div class="col-lg-6 d-flex align-items-center">
            <div class="col-lg-8 fv-row">
              <select class="form-select form-select-solid form-select-lg fw-bold" [(ngModel)]="oneSelectReporter">
                <option value="" selected>Vui lòng chọn người lập báo cáo</option>
                <option value="1">Nguyễn Văn A</option>
                <option value="2">Nguyễn Văn B</option>
                <option value="3">Nguyễn Văn C</option>
                <option value="0">Khác ...</option>
              </select>
            </div>
          </div>
        </div>

        <div><br></div>
        <div *ngIf="oneSelectReporter === '0'">
          <div class="col-lg-12 py-5">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Họ và tên:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Họ và tên" />
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">b. Điện thoại nơi làm
                    việc:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid"
                    placeholder="Điện thoại nơi làm việc" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 py-5">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">c. Điện thoại di
                    động:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid"
                    placeholder="Điện thoại di động" />
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center">
                <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">d. Bộ phận công
                    tác:</span></label>
                <div class="col-lg-8 flex-grow-1 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid"
                    placeholder="Bộ phận công tác" />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>