.custom-check {
  margin-bottom: 15px; /* Tạo khoảng cách giữa các dòng */
}

.form-check-label {
  font-size: 16px;  /* Tăng kích thước chữ */
  // font-weight: bold; /* Làm đậm chữ */
  color: black;      /* Đổi màu chữ thành đen */
}

.final-conclusion {
  font-size: 16px;
  font-weight: bold;
}

.input-small {
  max-width: 240px; /* Giới hạn chiều rộng */
  min-width: 80px;  /* Đảm bảo không quá nhỏ */
}
