
<div>
  <div class="card-body border-top p-9">
    <form *ngIf="addStep6Form" [formGroup]="addStep6Form" (ngSubmit)="addStep6Submit()">
      <div>
        <header>
          <h2 class="modal-title required">Tài liệu đính kèm</h2>
          <i class="info">* Tối đa {{maxFileCount}} file đính kèm</i>
          <br>
        </header>
        <div *ngIf="!readOnly" class="row d-flex align-items-center">
          <!-- <div class="col-lg-2">
            <input type="file" class="form-control">
          </div>
          <div class="col-lg-2">
            <button class="btn bg-secondary" type="button">File mẫu</button>
          </div>
          <div class="col-lg-6"></div> -->
          <div class="col-lg-12">
            <button class="btn btn-success f-right" type="button" (click)="addAttachment()">Thêm</button>
            <button type="button" class="btn btn-light-primary me-1 btn-template f-right" (click)="downloadFile()">
              <app-keenicon id="icon-download" name="folder-down" class="fs-1 text-primary"></app-keenicon>
              Mẫu sao kê
            </button>
          </div>
          
        </div>
        <table class="table align-middle table-row-dashed fs-6 gy-5">
          <thead>
            <tr>
              <th class="min-w-50px text-center">STT</th>
              <th>Loại tài liệu</th>
              <th>Tên tài liệu</th>
              <th>Số trang</th>
              <th>Mô tả</th>
              <th class="text-center">Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of getAttachments; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ getAttachmentTypeName(document.attachmentType) }}</td>
              <td>{{ document.fileName }}</td>
              <td>{{ document.pageCount }}</td>
              <td class="ellipsis" title="{{ document.description }}">{{ document.description }}</td>
              <td class="text-center">
                <button *ngIf="document.id" class="btn btn-info btn-sm m-1" title="Tải xuống" type="button" (click)="downloadAttachment(document)">
                  <i class="fa fa-download p-0"></i>
                </button>
                <button *ngIf="!readOnly" class="btn btn-danger btn-sm m-1" title="Xóa" type="button" (click)="deleteAttachment(document, i)">
                  <i class="fa fa-trash p-0"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="getAttachments.length === 0">
              <td colspan="7" class="text-center">Không có tài liệu nào.</td>
            </tr>
          </tbody>
        </table>
        
      </div>

      <!-- Footer -->
      <div *ngIf="!readOnly" class="modal-footer flex-center mt-5">
        <button type="button" class="btn btn-light me-3" (click)="clearAttachment()">Hủy bỏ</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </form>
  </div>
</div>

