<div>
  <form *ngIf="addStep2Form" [formGroup]="addStep2Form" (ngSubmit)="addStep2Submit()">
    <!-- Section 1: Personal Information -->
    <div>
      <header>
        <h2 class="modal-title required">1. Thông tin về cá nhân thực hiện giao dịch </h2>
        <br>
      </header>
      <table class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
          <tr>
            <th class="min-w-50px text-center">Số thứ tự</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Số điện thoại</th>
            <th>Số giấy tờ</th>
            <th>Số lượng TK</th>
            <th style="padding-left: 30px;">Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of displayPerson$ | async; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ person.ho_ten }}</td>
            <td>{{ person.ngay_sinh ? (person.ngay_sinh | date:'dd/MM/yyyy') : '' }}</td>
            <td>{{ getGenderLabel(person.gioi_tinh) }}</td>
            <td>{{ person.so_dien_thoai }}</td>
            <td>{{ getIdentificationNumbers(person) }}</td>
            <td>{{ person.tai_khoan?.length || 0 }}</td>
            <td class="flex gap-4">
              <button *ngIf="!readOnly" type="button" (click)="editPerson(person)" class="btn btn-light">Sửa</button>
              <button *ngIf="readOnly" type="button" (click)="editPerson(person)" class="btn btn-light">Chi tiết</button>
              <button *ngIf="!readOnly" class="btn btn-danger btn-sm" type="button" (click)="deletePerson(person.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="(displayPerson$ | async)?.length === 0">
            <td colspan="7" class="text-center">Không có dữ liệu.</td>
          </tr>
        </tbody>
      </table>
      <div class="row d-flex align-items-center">
        <div *ngIf="!readOnly" class="col-lg-2">
<!--          <input type="file" class="form-control" (change)="importPersonFromCSV($event)">-->
        </div>
        <div *ngIf="!readOnly" class="col-lg-2">
<!--          <button class="btn bg-secondary" type="button" (click)="downloadTemplatePerson()">File mẫu</button>-->
        </div>
        <div class="col-lg-7"></div>
        <div *ngIf="!readOnly" class="col-lg-1">
          <button class="btn btn-success" type="button" (click)="createPerson()">Thêm mới</button>
        </div>
      </div>
    </div>

    <div><br><br><br></div>

    <!-- Section 2: Organization Information -->
    <div>
      <header>
        <h2 class="modal-title required">2. Thông tin về tổ chức thực hiện giao dịch</h2>
        <br>
      </header>
      <table class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
          <tr>
            <th class="min-w-50px text-center">Số thứ tự</th>
            <th>Tên tổ chức</th>
            <th>MST/ MS doanh nghiệp</th>
            <th>Nghành nghề kinh doanh</th>
            <th>Số điện thoại</th>
            <th>Người đại diện</th>
            <th>SL tài khoản</th>
            <th style="padding-left: 30px;">Tùy chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let organization of displayOrganizations$ | async; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ organization.ten_to_chuc }}</td>
            <td>{{ organization.ma_so_doanh_nghiep.ma_so }}</td>
            <td>{{ organization.nganh_nghe_kinh_doanh }}</td>
            <td>{{ organization.so_dien_thoai }}</td>
            <td>
              <button *ngIf="!readOnly" class="btn btn-light" type="button"
                (click)="createLegalRepresentative(organization.id)">Thêm</button>
              <button class="btn btn-light" type="button"
                (click)="viewLegalRepresentative(organization)">Xem ({{ organization.nguoi_dai_dien?.length || 0 }})</button>
            </td>
            <td>{{ organization.tai_khoan?.length || 0 }}</td>
            <td class="flex gap-4">
              <button *ngIf="!readOnly" class="btn btn-light" type="button"
                (click)="editOrganization(organization)">Sửa</button>
              <button *ngIf="readOnly" class="btn btn-light" type="button"
                (click)="editOrganization(organization)">Chi tiết</button>
              <button *ngIf="!readOnly" class="btn btn-danger btn-sm" type="button"
                (click)="deleteOrganization(organization.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="(displayOrganizations$ | async)?.length === 0">
            <td colspan="7" class="text-center">Không có dữ liệu.</td>
          </tr>
        </tbody>
      </table>
      <div class="row d-flex align-items-center">
        <div *ngIf="!readOnly" class="col-lg-2">
<!--          <input type="file" class="form-control" (change)="importOrganizationFromExcel($event)">-->
        </div>
        <div *ngIf="!readOnly" class="col-lg-2">
<!--          <button class="btn bg-secondary" type="button" (click)="downloadTemplateOrganization()">File mẫu</button>-->
        </div>
        <div class="col-lg-7"></div>
        <div *ngIf="!readOnly" class="col-lg-1">
          <button class="btn btn-success" type="button" (click)="createOrganization()">Thêm mới</button>
        </div>
      </div>
    </div>

    <div><br><br><br></div>



    <!-- Section 3: Beneficial Owner Information -->
    <div>
      <header>
        <h2 class="modal-title required">3. Thông tin về chủ sở hữu hưởng lợi</h2>
      </header>
      <div class="row mb-6">
        <label class="col-lg-2 col-form-label fw-bold fs-6">
          <h4 class="modal-title required">- Chọn chủ sở hữu hưởng lợi:</h4>
        </label>
        <div class="col-lg-10 fv-row">
          <div class="d-flex flex-column align-items-start mt-3 gap-2">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input type="checkbox" class="form-check-input" formControlName="nhom_thong_tin_1"
                (change)="togglePersonData($event, 'nhom_thong_tin_1')" />
              <span class="fw-bold ps-2 fs-6">Trùng với cá nhân thực hiện giao dịch tại mục 1</span>
            </label>

            <label class="form-check form-check-inline form-check-solid">
              <input type="checkbox" class="form-check-input" formControlName="nhom_thong_tin_2"
                (change)="toggleOrganizationData($event, 'nhom_thong_tin_2')" />
              <span class="fw-bold ps-2 fs-6">Trùng với cá nhân đại diện theo pháp luật của tổ chức tại mục 2.2</span>
            </label>

            <label class="form-check form-check-inline form-check-solid">
              <input type="checkbox" class="form-check-input" formControlName="nhom_thong_tin_3"
                (change)="toggleAuthorizedPersonData($event, 'nhom_thong_tin_3')" />
              <span class="fw-bold ps-2 fs-6">Trùng với cá nhân được ủy quyền sử dụng tài khoản của chủ tài khoản là tổ
                chức tại mục 2.3</span>
            </label>

            <label class="form-check form-check-inline form-check-solid">
              <input type="checkbox" class="form-check-input" formControlName="other" (change)="toggleTable($event)" />
              <span class="fw-bold ps-2 fs-6">Khác</span>
            </label>
          </div>
        </div>
      </div>

      <!-- Display Person Data -->
      <!-- Hiển thị cho nhóm thông tin 1 -->
      <div class="row d-flex align-items-center" *ngIf="showTablePersonData && addStep2Form.get('nhom_thong_tin_1').value">
        <!-- Giữ nguyên cấu trúc bảng -->
        <header>
          <h5 class="modal-title required">- Danh sách cá nhân thực hiện giao dịch tại mục 1</h5>
        </header>
        <table class="table align-middle table-row-dashed fs-6 gy-5">
          <thead>
            <tr>
              <th style="width: 10%;" class="min-w-50px text-center">Số thứ tự</th>
              <th style="width: 30%;">Họ và tên</th>
              <th style="width: 30%;">Số định danh</th>
              <th>
                <input type="checkbox" class="form-check-input check-all" (change)="toggleAllPersons($event)" [disabled]="readOnly"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of displayPersonData$; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ person.ho_ten }}</td>
              <td>{{ person.so_dinh_danh }}</td>
              <td>
                <input type="checkbox" class="form-check-input"
                  (change)="togglePersonSelection(person, $event, 'nhom_thong_tin_1')"
                  [checked]="isPersonSelected(person, 'nhom_thong_tin_1')" [disabled]="readOnly" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row d-flex align-items-center" *ngIf="showTableOrganizationData && addStep2Form.get('nhom_thong_tin_2').value">
        <header>
          <h5 class="modal-title required">- Danh sách cá nhân đại diện theo pháp luật của tổ chức tại mục 2.2</h5>
        </header>
        <table class="table align-middle table-row-dashed fs-6 gy-5">
          <thead>
            <tr>
              <th style="width: 10%;" class="min-w-50px text-center">Số thứ tự</th>
              <th style="width: 30%;">Họ và tên</th>
              <th style="width: 30%;">Số định danh</th>
              <th>
                <input type="checkbox" class="form-check-input check-all" (change)="toggleAllOrganizations($event)"
                  [checked]="isAllOrganizationSelected && displayOrganizationData$.length > 0" [disabled]="readOnly"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let org of displayOrganizationData$; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ org.ho_ten }}</td>
              <td>{{ org.so_dinh_danh }}</td>
              <td>
                <input type="checkbox" class="form-check-input" (change)="toggleOrganizationSelection(org, $event)"
                  [checked]="isOrganizationSelected(org)" [disabled]="readOnly" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row d-flex align-items-center" *ngIf="showTableAuthorizedPersonData && addStep2Form.get('nhom_thong_tin_3').value">
        <header>
          <h5 class="modal-title required">- Danh sách cá nhân được ủy quyền sử dụng tài khoản của chủ tài khoản là tổ chức tại mục 2.3</h5>
        </header>
        <table class="table align-middle table-row-dashed fs-6 gy-5">
          <thead>
            <tr>
              <th style="width: 10%;" class="min-w-50px text-center">Số thứ tự</th>
              <th style="width: 30%;">Họ và tên</th>
              <th style="width: 30%;">Số định danh</th>
              <th>
                <input type="checkbox" class="form-check-input check-all" (change)="toggleAllAuthorized($event)"
                  [checked]="isAllAuthorizedPersonSelected && displayAuthorizedPersonData$.length > 0" [disabled]="readOnly" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let authorized of displayAuthorizedPersonData$; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ authorized.ho_ten }}</td>
              <td>{{ authorized.so_dinh_danh }}</td>
              <td>
                <input type="checkbox" class="form-check-input"
                  (change)="toggleAuthorizedPersonSelection(authorized, $event)"
                  [checked]="isAuthorizedPersonSelected(authorized)" [disabled]="readOnly" />
              </td>
            </tr>
            <tr *ngIf="displayAuthorizedPersonData$.length === 0">
              <td colspan="4" class="text-center">Không có dữ liệu.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="showOtherOwnerTable">
        <header>
          <h4 class="modal-title required">- Thông tin về chủ sở hữu hưởng lợi khác</h4>
          <br>
        </header>
        <table class="table align-middle table-row-dashed fs-6 gy-5">
          <thead>
            <tr>
              <th class="min-w-50px text-center">Số thứ tự</th>
              <th>Họ và tên</th>
              <th>Ngày sinh</th>
              <th>Giới tính</th>
              <th>Số điện thoại</th>
              <th>Số giấy tờ</th>
              <th style="padding-left: 30px;">Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let otherOwner of displayOtherOwner$ | async; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td>{{ otherOwner.ho_ten }}</td>
              <td>{{ otherOwner.ngay_sinh ? (otherOwner.ngay_sinh | date:'dd/MM/yyyy') : ''}}</td>
              <td>{{ getGenderLabel(otherOwner.gioi_tinh) }}</td>
              <td>{{ otherOwner.so_dien_thoai }}</td>
              <td>{{ getIdentificationNumbers(otherOwner) }}</td>
              <td class="flex gap-4">
                <button *ngIf="!readOnly" type="button" (click)="editOtherOwner(otherOwner)" class="btn btn-light" >Sửa</button>
                <button *ngIf="readOnly" type="button" (click)="editOtherOwner(otherOwner)" class="btn btn-light" >Chi tiết</button>
                <button *ngIf="!readOnly" class="btn btn-danger btn-sm" type="button" (click)="deleteOtherOwner(otherOwner.id)" >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="(displayOtherOwner$ | async)?.length === 0">
              <td colspan="7" class="text-center">Không có dữ liệu.</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!readOnly" class="row d-flex align-items-center">
          <div class="col-lg-2">
<!--            <input type="file" class="form-control" (change)="importOtherOwnerFromExcel($event)">-->
          </div>
          <div class="col-lg-2">
<!--            <button class="btn bg-secondary" type="button">File mẫu</button>-->
          </div>
          <div class="col-lg-7"></div>
          <div *ngIf="!readOnly" class="col-lg-1">
            <button class="btn btn-success" type="button" (click)="createOtherOwner()">Thêm mới</button>
          </div>
        </div>
      </div>

      <div><br><br><br></div>

    </div>

    <div>
      <header>
        <h2 class="modal-title">4. Thông tin bổ sung khác</h2>
        <br>
      </header>
      <div class="row d-flex align-items-center">
        <div class="col-lg-5">
          <textarea class="form-control" formControlName="thong_tin_khac_bo_sung" rows="3"
            [ariaDisabled]="readOnly" [readOnly]="readOnly"></textarea>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div *ngIf="!readOnly" class="modal-footer flex-center mt-5">
      <button type="button" class="btn btn-light me-3" (click)="onReset()">Hủy bỏ</button>
      <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
  </form>
</div>
