.check-all {
    accent-color: #174048; /* Màu cam hoặc chọn màu bạn thích */
    transform: scale(1.5); /* Tăng kích thước nếu cần */
  }
  
  /* Đổi màu checkbox bình thường */
  .form-check-input {
    accent-color: #27cdb7; /* Màu xanh */
  }