<div class="modal-header">
  <h3 class="modal-title required" id="agency-basic-title">2.2 Thông tin về người đại diện theo pháp luật của tổ chức</h3>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="card-body border-top p-9">
  <form [formGroup]="addLegalRepresentativeForm" (ngSubmit)="addLegalRepresentativeSubmit()">

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Họ và tên:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Họ và tên"
              formControlName="ho_ten" />
            <div
              *ngIf="addLegalRepresentativeForm.get('ho_ten')?.invalid && addLegalRepresentativeForm.get('ho_ten')?.touched"
              class="text-danger">
              Họ và tên không được để trống
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">b. Ngày, tháng, năm
              sinh:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input
              class="form-control"
              placeholder="dd/mm/yyyy"
              [minDate]="minDate"
              [maxDate]="nowDate"
              ngbDatepicker
              formControlName="ngay_sinh"
              #d="ngbDatepicker"
              (click)="d.toggle()"
              autocomplete="off"
            />
            <div
              *ngIf="addLegalRepresentativeForm.get('ngay_sinh')?.invalid && addLegalRepresentativeForm.get('ngay_sinh')?.touched"
              class="text-danger">
              Ngày sinh không được để trống
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">l. Số điện thoại liên
              lạc:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Số điện thoại liên lạc" formControlName="so_dien_thoai" />
            <div class="text-danger mt-1"
              *ngIf="addLegalRepresentativeForm.get('so_dien_thoai').invalid && addLegalRepresentativeForm.get('so_dien_thoai').touched">
              Số điện thoại không được để trống
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">đ. Quốc
              tịch:</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="quoc_tich">
              <option *ngFor="let country of countries" [value]="country.code">
                {{ country.name }}
              </option>
            </select>
            <div class="text-danger mt-1"
              *ngIf="addLegalRepresentativeForm.get('quoc_tich').invalid && addLegalRepresentativeForm.get('quoc_tich').touched">
              Quốc tịch không được để trống
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" formGroupName="nghe_nghiep">
          <label class="col-lg-4 col-form-label fw-bold fs-6 required">
            <span>e. Nghề nghiệp:</span>
          </label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="ma_nghe_nghiep"
                    (change)="updateJobDescription($event)">
              <option *ngFor="let job of jobs" [value]="job.value">
                {{ job.name }}
              </option>
            </select>
            <div class="text-danger mt-1" *ngIf="addLegalRepresentativeForm.get('nghe_nghiep.ma_nghe_nghiep')?.invalid &&
                     addLegalRepresentativeForm.get('nghe_nghiep.ma_nghe_nghiep')?.touched">
              Nghề nghiệp không được để trống
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Chức vụ/vị trí việc làm:</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid"
              placeholder="Chức vụ/vị trí việc làm" formControlName="chuc_vu" />
          </div>
        </div>
      </div>
    </div>


    <div formGroupName="dia_chi_thuong_tru">
      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">h. Địa chỉ đăng ký thường
            trú:</label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid
                  mb-3 mb-lg-0" placeholder="Số nhà" formControlName="so_nha" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('dia_chi_thuong_tru.so_nha').invalid && addLegalRepresentativeForm.get('dia_chi_thuong_tru.so_nha').touched">
                  Số nhà không được để trống
                </div>
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Quận/Huyện"
                  formControlName="quan_huyen" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('dia_chi_thuong_tru.quan_huyen').invalid && addLegalRepresentativeForm.get('dia_chi_thuong_tru.quan_huyen').touched">
                  Quận huyện không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố"
                  formControlName="tinh_thanh" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('dia_chi_thuong_tru.tinh_thanh').invalid && addLegalRepresentativeForm.get('dia_chi_thuong_tru.tinh_thanh').touched">
                  Tỉnh thành không được để trống
                </div>
              </div>
              <div class="col-lg-6 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="quoc_gia">
                  <option *ngFor="let country of countries" [value]="country.code">
                    {{ country.name }}
                  </option>
                </select>
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('dia_chi_thuong_tru.quoc_gia').invalid && addLegalRepresentativeForm.get('dia_chi_thuong_tru.quoc_gia').touched">
                  Quốc gia không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="noi_o_hien_tai">
      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label required fw-bold fs-6">i. Nơi ở hiện tại:</label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid
                  mb-3 mb-lg-0" placeholder="Số nhà" formControlName="so_nha" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('noi_o_hien_tai.so_nha').invalid && addLegalRepresentativeForm.get('noi_o_hien_tai.so_nha').touched">
                  Số nhà không được để trống
                </div>
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Quận/Huyện"
                  formControlName="quan_huyen" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('noi_o_hien_tai.quan_huyen').invalid && addLegalRepresentativeForm.get('noi_o_hien_tai.quan_huyen').touched">
                  Quận huyện không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 py-5">
        <div class="row">
          <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố"
                  formControlName="tinh_thanh" />
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('noi_o_hien_tai.tinh_thanh').invalid && addLegalRepresentativeForm.get('noi_o_hien_tai.tinh_thanh').touched">
                  Tỉnh thành không được để trống
                </div>
              </div>
              <div class="col-lg-6 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="quoc_gia">
                  <option *ngFor="let country of countries" [value]="country.code">
                    {{ country.name }}
                  </option>
                </select>
                <div class="text-danger mt-1"
                  *ngIf="addLegalRepresentativeForm.get('noi_o_hien_tai.quoc_gia').invalid && addLegalRepresentativeForm.get('noi_o_hien_tai.quoc_gia').touched">
                  Quốc gia không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-6">
      <label class="col-lg-6 col-form-label fw-bold fs-6 required"><span>m. Danh sách các thông tin định
          danh:</span></label>
      <div class="col-lg-12 fv-row" formArrayName="thong_tin_dinh_danh">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th style="width: 5%;"></th>
              <th style="width: 15%;" class="required">Loại định danh</th>
              <th style="width: 15%;" class="required">Số</th>
              <th style="width: 10%;" class="required">Ngày cấp</th>
              <th style="width: 10%;">Ngày hết hạn</th>
              <th style="width: 15%;" class="required">Cơ quan cấp</th>
              <th style="width: 20%;" class="required">Nơi cấp</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let identityNumber of identityNumbers.controls; let i = index;" [formGroupName]="i">
              <td style="text-align: center;">
                <button class="btn btn-danger btn-sm" (click)="deleteRowIdentityNumber(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <select class="form-select form-select-sm" formControlName="loai_dinh_danh">
                  <option *ngFor="let identity of identitys" [value]="identity.value">
                    {{ identity.name }}
                  </option>
                </select>
                <div class="text-danger mt-1"
                  *ngIf="identityNumbers.controls[i].get('loai_dinh_danh').invalid && identityNumbers.controls[i].get('loai_dinh_danh').touched">
                  Loại định danh không được để trống
                </div>
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="so_dinh_danh" type="text"
                  placeholder="Số" />
                <div class="text-danger mt-1"
                  *ngIf="identityNumbers.controls[i].get('so_dinh_danh').invalid && identityNumbers.controls[i].get('so_dinh_danh').touched">
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('required')">Số định danh không được để trống</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidCCCD')">CCCD không hợp lệ</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidCMND')">CMND không hợp lệ</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidDinhDanh')">Định danh cá nhân không hợp lệ</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidHC')">Hộ chiếu không hợp lệ</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidCMSQ')">Chứng minh sỹ quan không hợp lệ</span>
                  <span *ngIf="identityNumbers.controls[i].get('so_dinh_danh').hasError('invalidCMQNCN')">Chứng minh quân nhân chuyên nghiệp không hợp lệ</span>
                </div>
              </td>
              <td>
                <input
                  class="form-control"
                  placeholder="dd/mm/yyyy"
                  [minDate]="minDate"
                  [maxDate]="nowDate"
                  ngbDatepicker
                  formControlName="ngay_cap"
                  #ngaycap="ngbDatepicker"
                  (click)="ngaycap.toggle()"
                  autocomplete="off"
                />
                <div class="text-danger mt-1"
                  *ngIf="identityNumbers.controls[i].get('ngay_cap').invalid && identityNumbers.controls[i].get('ngay_cap').touched">
                  Ngày cấp không được để trống
                </div>
              </td>
              <td>
                <input
                  class="form-control"
                  placeholder="dd/mm/yyyy"
                  [minDate]="minDate"
                  [maxDate]="nowDate"
                  ngbDatepicker
                  formControlName="ngay_het_han"
                  #hethan="ngbDatepicker"
                  (click)="hethan.toggle()"
                  autocomplete="off"
                />
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="co_quan_cap" type="text"
                  placeholder="Cơ quan cấp" />
                <div class="text-danger mt-1"
                  *ngIf="identityNumbers.controls[i].get('co_quan_cap').invalid && identityNumbers.controls[i].get('co_quan_cap').touched">
                  Cơ quan cấp không được để trống
                </div>
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="noi_cap" type="text"
                  placeholder="Nơi cấp" />
                <div class="text-danger mt-1"
                  *ngIf="identityNumbers.controls[i].get('noi_cap').invalid && identityNumbers.controls[i].get('noi_cap').touched">
                  Nơi cấp không được để trống
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-success" (click)="addRowIdentityNumber()">Thêm</button>
        </div>
      </div>
    </div>

    <div class="modal-footer flex-center mt-5">
      <button type="button" id="two-1-cancel" class="btn btn-light me-3" (click)="onReset()">
        Hủy bỏ
      </button>
      <button type="submit" id="two-1-submit" class="btn btn-primary">
        <span class="indicator-label">Lưu</span>
      </button>
    </div>

  </form>
</div>
