<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/dashboard">
    <span class="menu-title"
          translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/list-str">
    <span class="menu-title">Danh sách STR
    </span>
  </a>
</div>


<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
         data-kt-menu-placement="bottom-start">
      <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/error')">
        <span class="menu-title" data-link="/lis-str">Nhập STR</span>
        <span
          class="menu-arrow d-lg-none"></span>
      </span>
      <div class="
          menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-225px
        " data-kt-menu-dismiss="true">
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/report-str/report-one">
            <span class="menu-bullet">
              <span
                class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Mẫu số 1</span>
          </a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/error/500">
            <span class="menu-bullet">
              <span
                class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Mẫu số 2</span>
          </a>
        </div>
      </div>
    </div>

<!-- Layout Builder -->
<!-- <div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/list-str">
    <span class="menu-title">Phê duyệt
    </span>
  </a>
</div> -->


  <!-- MegaMenu -->
