<div class="modal-header">
  <h3 class="modal-title required" id="agency-basic-title">Thông tin về cá nhân thực hiện giao dịch</h3>
  <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
</div>
<div class="card-body border-top p-9">
  <form [formGroup]="addForm" (ngSubmit)="addPersonSubmit()">

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">a. Họ và tên:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Họ và tên"
              formControlName="ho_ten" />
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">b. Ngày, tháng, năm
              sinh:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="date" class="form-control form-control-lg form-control-solid"
              placeholder="Ngày, tháng, năm sinh" formControlName="ngay_sinh" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">

        <label class="col-lg-2 col-form-label fw-bold fs-6">
          c. Độ tuổi:
        </label>
        <div class="col-lg-10 fv-row">
          <div class="d-flex align-items-center mt-3">
            <div class="col-lg-2 fw-bold form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="radio" id="range-age-1" value="range-1" formControlName="do_tuoi">
              <label class="form-check-label" for="range-age-1">Dưới 20 tuổi</label>
            </div>
            <div class="col-lg-2 fw-bold form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="radio" id="range-age-2" value="range-2" formControlName="do_tuoi">
              <label class="form-check-label" for="range-age-2">Từ 20 tuổi đến dưới 30 tuổi</label>
            </div>
            <div class="col-lg-2 fw-bold form-check form-check-inline form-check-solid">
              <input class="form-check-input" type="radio" id="range-age-3" value="range-3" formControlName="do_tuoi">
              <label class="form-check-label" for="range-age-3">Từ 30 tuổi đến dưới 40 tuổi</label>
            </div>
            <div class="col-lg-2 fw-bold form-check form-check-inline form-check-solid">
              <input class="form-check-input" type="radio" id="range-age-4" value="range-4" formControlName="do_tuoi">
              <label class="form-check-label" for="range-age-4">Từ 40 tuổi đến dưới 50 tuổi</label>
            </div>
            <div class="col-lg-2 fw-bold form-check form-check-inline form-check-solid">
              <input class="form-check-input" type="radio" id="range-age-5" value="range-5" formControlName="do_tuoi">
              <label class="form-check-label" for="range-age-5">Từ 50 tuổi trở lên</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-5 col-form-label fw-bold fs-6">
            <span class="required">d. Giới tính:</span>
          </label>
          <div class="col-lg-7 fv-row">
            <div class="d-flex align-items-center mt-3">
              <div class="col-lg-4 fw-bold form-check form-check-inline form-check-solid me-5">
                <input class="form-check-input" type="radio" id="one-1-male" value="male" formControlName="gioi_tinh">
                <label class="form-check-label" for="male">Nam</label>
              </div>
              <div class="col-lg-4 fw-bold form-check form-check-inline form-check-solid me-5">
                <input class="form-check-input" type="radio" id="one-1-female" value="female" formControlName="gioi_tinh">
                <label class="form-check-label" for="female">Nữ</label>
              </div>
              <div class="col-lg-4 fw-bold form-check form-check-inline form-check-solid">
                <input class="form-check-input" type="radio" id="one-1-other" value="other" formControlName="gioi_tinh">
                <label class="form-check-label" for="other">Khác</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">đ. Quốc
              tịch:</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="quoc_tich">
              <option value="">Select a Country...</option>
              <option value="AF">Afghanistan</option>
              <option value="AX">Aland Islands</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AS">American Samoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
            </select>
            <!-- <div class="fv-plugins-message-container">
          <div class="fv-help-block">Country is required</div>
        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">e. Nghề nghiệp:</span>
          </label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" formControlName="nghe_nghiep">
              <option value="">Chọn công việc</option>
              <option value="1">Công chức/ viên chức</option>
              <option value="2">Học sinh/ sinh viên</option>
              <option value="3">Giáo viên/ bác sĩ</option>
              <option value="4">Nội trợ</option>
              <option value="5">Kinh doanh tự do</option>
              <option value="6">Kỹ sư</option>
              <option value="7">Công nhân</option>
              <option value="8">Nông dân</option>
              <option value="9">Khác ...</option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Chức vụ/vị trí việc làm:</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid"
              placeholder="Chức vụ/vị trí việc làm" formControlName="chuc_vu" />
          </div>
        </div>
      </div>
    </div>




    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label required fw-bold fs-6">h. Địa chỉ đăng ký thường
          trú:</label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quận/Huyện" formControlName="dia_chi_quan_huyen" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố"
                formControlName="dia_chi_tinh_thanh" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quốc gia" formControlName="dia_chi_quoc_gia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label required fw-bold fs-6">i. Nơi ở hiện tại:</label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quận/Huyện" formControlName="noi_o_quan_huyen" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tỉnh/Thành phố"
                formControlName="noi_o_tinh_thanh" />
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="
                form-control form-control-lg form-control-solid
                mb-3 mb-lg-0
              " placeholder="Quốc gia" formControlName="noi_o_quoc_gia" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label required fw-bold fs-6">k. Thông tin định danh cá nhân:</label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <select class="form-select form-select-solid form-select-lg mb-3 mb-lg-0" formControlName="loai_dinh_danh">
                <option value="" selected>Giấy tờ định danh thông tin cá nhân</option>
                <option value="cmnd">CMND</option>
                <option value="cccd">CCCD</option>
                <option value="passport">Hộ chiếu</option>
                <option value="id-number">Định danh cá nhân</option>
                <option value="entry-visa">Thị thực nhập cảnh</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                placeholder="Số cmnd/cccd" formControlName="so_dinh_danh">
            </div>
            <div class="col-lg-4 fv-row">
              <select class="form-select form-select-solid form-select-lg mb-3 mb-lg-0"
                formControlName="co_quan_cap">
                <option value="" selected>Chọn đơn vị cấp</option>
                <option value="policy">Bộ công an</option>
                <option value="export">Cục xuất nhập cảnh</option>
                <option value="passport">Quân đội</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <label class="col-lg-2 col-form-label fw-bold fs-6"></label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-lg-4 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                placeholder="Nơi cấp" formControlName="noi_cap">
            </div>
            <div class="col-lg-4 fv-row">
              <div class="row">
                <label class="col-lg-3 col-form-label fw-bold fs-6">
                  Ngày cấp:
                </label>
                <div class="col-lg-9 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Ngày cấp" formControlName="ngay_cap">
                </div>
              </div>
            </div>
            <div class="col-lg-4 fv-row">
              <div class="row">
                <label class="col-lg-3 col-form-label fw-bold fs-6">
                  Hết hạn:
                </label>
                <div class="col-lg-9 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="Hết hạn" formControlName="ngay_het_han">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 py-5">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <label class="col-lg-4 col-form-label fw-bold me-2"><span class="required">l. Số điện thoại liên
              lạc:</span></label>
          <div class="col-lg-8 flex-grow-1 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder="Số điện thoại liên lạc" formControlName="so_dien_thoai" />
          </div>
        </div>

      </div>
    </div>

    <div class="row mb-6">
      <label class="col-lg-2 col-form-label fw-bold fs-6 required"><span>m. Danh sách các số tài khoản:</span></label>
      <div class="col-lg-10 fv-row" formArrayName="tai_khoan">  <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th style="width: 5%;"></th>
              <th style="width: 15%;">Số tài khoản</th>
              <th style="width: 15%;">Ngân hàng</th>
              <th style="width: 10%;">Loại tiền</th>
              <th style="width: 10%;">Loại tài khoản</th>
              <th style="width: 10%;">Ngày mở tài khoản</th>
              <th style="width: 15%;">Tình trạng</th>
              <th style="width: 10%;">Thông tin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bankAccount of bankAccounts.controls; let i = index;" [formGroupName]="i"> <td style="text-align: center;">
                <button class="btn btn-danger btn-sm" (click)="deleteRow(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="so_tai_khoan" type="text" placeholder="Số tài khoản" />
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="ngan_hang" type="text" placeholder="Ngân hàng" />
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="loai_tien" type="text" placeholder="Loại tiền" />
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="loai_tai_khoan" type="text" placeholder="Loại tài khoản" />
              </td>
              <td>
                <input class="form-control form-control-sm" formControlName="ngay_mo" type="date" />
              </td>
              <td>
                <select class="form-select form-select-solid form-select-lg mb-3 mb-lg-0" formControlName="trang_thai">
                  <option value="active">Active</option>
                  <option value="removed">Removed</option>
                  <option value="pending">Pending</option>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-info" (click)="createInformationAccount(i)">Add account</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end mt-3">
          <button type="button" class="btn btn-success" (click)="addRow()">Thêm</button>
        </div>
      </div>
    </div>

    <div class="modal-footer flex-center mt-5">
      <button type="reset" id="two-1-cancel" class="btn btn-light me-3">
        Cancel
      </button>
      <button type="submit" id="two-1-submit" class="btn btn-primary">
        <span class="indicator-label">Submit</span>
      </button>
    </div>

  </form>
</div>
