<div>
  <form *ngIf="addStep5Form" [formGroup]="addStep5Form" (ngSubmit)="addStep5Submit()">
    <div class="col-lg-12 ms-4">
      <div class="row mb-6">
        <label class="col-lg-12 col-form-label fw-bold fs-6">
          <h4 class="modal-title required">Liệt kê cụ thể những công việc đã thực hiện:</h4>
        </label>

        <div class="col-lg-12 ms-4">
          <!-- Phần checkbox trong FormArray -->
          <div formArrayName="cong_viec_da_xu_ly">
            <div *ngFor="let item of responseData; let i = index" class="form-check custom-check">
              <input type="checkbox" class="form-check-input" [formControlName]="i" [id]="'checkbox-' + i"/>
              <label class="form-check-label" [for]="'checkbox-' + i">{{ ' - ' + item.name }}</label>
            </div>
          </div>
          <div
            *ngIf="addStep5Form.errors?.['atLeastOneChecked'] && addStep5Form.touched"
            class="text-danger"
          >
            Vui lòng chọn ít nhất một công việc đã xử lý.
          </div>

          <!-- Phần cong_van_info trong FormArray -->
          <div
            formArrayName="cong_van_info"
            class="ms-4 mt-3"
            *ngIf="isValueSixChecked() || isValueSevenChecked() || isValueZeroChecked()"
          >
            <div *ngFor="let congVan of congVanInfoArray.controls; let i = index" [formGroupName]="i" class="mb-3">
              <!-- Tiêu đề phân biệt Công văn đến và Công văn trả về -->
              <h5 class="fw-bold text-primary" *ngIf="i === 0 && isValueSixChecked()">
                Ngân hàng đã có công văn gửi Cơ quan nhà nước có thẩm quyền
              </h5>
              <h5
                class="fw-bold text-primary"
                *ngIf="i === (isValueSixChecked() ? 1 : 0) && isValueSevenChecked()"
              >
                Ngân hàng nhận được công văn của Cơ quan nhà nước có thẩm quyền yêu cầu cung cấp thông tin, tài liệu
              </h5>
              <label class="form-label fw-bold">
                - {{ congVan.get('loai_cong_van').value === '0' ? 'Công văn đi' : (congVan.get('loai_cong_van').value === '1' ? 'Công văn đi' : 'Công văn trả lời') }}
                :
              </label>
              <div class="d-flex align-items-center gap-3">
                <!-- Số công văn -->
                <div class="d-flex flex-column">
                  <label class="form-label">Số công văn:</label>
                  <input type="text" class="form-control" formControlName="so_cong_van"/>
                  <div
                    *ngIf="congVan.get('so_cong_van')?.invalid && (congVan.get('so_cong_van')?.touched || congVan.get('so_cong_van')?.dirty)"
                    class="text-danger"
                  >
                    Số công văn không được để trống.
                  </div>
                </div>
                <!-- Ngày công văn -->
                <div class="d-flex flex-column">
                  <label class="form-label">Ngày công văn:</label>
                  <input type="date" class="form-control" formControlName="ngay_cong_van"/>
                  <div
                    *ngIf="congVan.get('ngay_cong_van')?.invalid && (congVan.get('ngay_cong_van')?.touched || congVan.get('ngay_cong_van')?.dirty)"
                    class="text-danger"
                  >
                    Ngày công văn không được để trống.
                  </div>
                </div>
                <!-- Đơn vị -->
                <div class="d-flex flex-column">
                  <label class="form-label">Đơn vị:</label>
                  <input type="text" class="form-control" formControlName="don_vi"/>
                  <div
                    *ngIf="congVan.get('don_vi')?.invalid && (congVan.get('don_vi')?.touched || congVan.get('don_vi')?.dirty)"
                    class="text-danger"
                  >
                    Đơn vị không được để trống.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Phần công việc khác -->
          <div *ngIf="isValueZeroChecked()" class="d-flex flex-column gap-2 w-50">
            <h5 class="fw-bold text-primary">Công việc khác</h5>
            <textarea
              class="d-flex flex-column form-control"
              formControlName="noi_dung"
              placeholder="Nhập nội dung..."
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div *ngIf="!readOnly" class="modal-footer flex-center mt-5">
      <button type="button" class="btn btn-light me-3" (click)="onReset()">Hủy bỏ</button>
      <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
  </form>
</div>
