 .stepper-title {
  color: var(--bs-gray-900) !important;
}

.sticky-header {
  position: fixed !important;
  top: 61px;
  background: white;
  /* text-align: left; */
  text-align: center;
  width: auto;
  cursor: pointer;
}