<div class="card">
  <div class="card-body">
    <div class="stepper stepper-links d-flex flex-column " id="kt_create_account_stepper">
      <div class="stepper-nav mb-5 sticky-header">

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }" (click)="setTab(1)">
          <h3 class="stepper-title">Phần I- ĐTBC</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 2,
            completed: currentStep$.value > 2
          }" (click)="setTab(2)">
          <h3 class="stepper-title">Phần II- CN/TC thực hiện giao dịch</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 3,
            completed: currentStep$.value > 3
          }" (click)="setTab(3)">
          <h3 class="stepper-title">Phần III-CN/TC liên quan giao dịch</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
            current: currentStep$.value === 4,
            completed: currentStep$.value > 4
          }" (click)="setTab(4)">
          <h3 class="stepper-title">Phần IV- Thông tin GD đáng ngờ</h3>
        </div>

        <div class="stepper-item" [ngClass]="{ current: currentStep$.value === 5,
                     completed: currentStep$.value > 5
          }" (click)="setTab(5)">
          <h3 class="stepper-title">Phần V-Công việc xử lý</h3>
        </div>

        <div class="stepper-item" [ngClass]="{ current: currentStep$.value === 6 }" (click)="setTab(6)">
          <h3 class="stepper-title">Phần VI-Tài liệu đính kèm</h3>
        </div>
      </div>

      <form class="" noValidate id="kt_create_account_form">
        <div class="current">

          <div [style]="'display: ' + (currentStep$.value === 1 ? '' : 'none')">
            <ng-container>
              <app-step1 [strReport]="strReport" class="w-100"
                (savePartSubmited)=" onSaveSinglePartOfReport('tab1', $event)"></app-step1>
            </ng-container>
          </div>
          <div [style]="'display: ' + (currentStep$.value === 2 ? '' : 'none')">
            <ng-container style="display: none;">
              <app-step2 [strReport]="strReport" (savePartSubmited)=" onSaveSinglePartOfReport('tab2', $event)"
                class="w-100"></app-step2>
            </ng-container>
          </div>
          <div [style]="'display: ' + (currentStep$.value === 3 ? '' : 'none')">
            <ng-container>
              <app-step3 (savePartSubmited)=" onSaveSinglePartOfReport('tab3', $event)" [strReport]="strReport"
                class="w-100"></app-step3>
            </ng-container>
          </div>
          <div [style]="'display: ' + (currentStep$.value === 4 ? '' : 'none')">

            <ng-container>
              <app-step4 (savePartSubmited)=" onSaveSinglePartOfReport('tab4', $event)" [strReport]="strReport"
                class="w-100"></app-step4>
            </ng-container>
          </div>

          <div [style]="'display: ' + (currentStep$.value === 5 ? '' : 'none')">

            <ng-container>
              <app-step5 (savePartSubmited)=" onSaveSinglePartOfReport('tab5', $event)" [strReport]="strReport"
                class="w-100"></app-step5>
            </ng-container>
          </div>

          <!-- <ng-container *ngIf="currentStep$.value === 5">
            <app-step5 class="w-100"></app-step5>
          </ng-container> -->
          <div [style]="'display: ' + (currentStep$.value === 6 ? '' : 'none')">

            <ng-container>
              <app-step6 (savePartSubmited)=" onSaveSinglePartOfReport('tab6', $event)" [strReport]="strReport"
                class="w-100"></app-step6>
            </ng-container>
          </div>
        </div>

        <!-- <div class="d-flex flex-stack pt-15">
          <div class="mr-2">
            <ng-container *ngIf="currentStep$.value !== 1">
              <button
                type="button"
                class="btn btn-lg btn-light-primary me-3"
                (click)="prevStep()"
              >
                <app-keenicon name="arrow-left" class="fs-3 ms-4 me-1"></app-keenicon>
                Back
              </button>
            </ng-container>
          </div>

          <ng-container *ngIf="currentStep$.value !== formsCount">
            <div>
              <button *ngIf="currentStep$.value < formsCount - 1"
                type="button"
                class="btn btn-lg btn-primary me-3"

                (click)="nextStep()"
              >
                <span class="indicator-label">
                  <ng-container >
                    Continue {{ " " }}
                    <app-keenicon name="arrow-right" class="fs-3 ms-2 me-0"></app-keenicon>
                  </ng-container>
                </span>
              </button>

              <button
                type="button"
                class="btn btn-lg btn-primary me-3"

                (click)="updateAccount({},true)"
              >
                <span class="indicator-label">
                  <ng-container >
                    Save
                  </ng-container>
                </span>
              </button>
            </div>
          </ng-container>
        </div> -->
      </form>
    </div>
  </div>
</div>