/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

.absolute {
    position: absolute;
}

// datepicker
.calendar-icon {
    border: 1px solid var(--bs-gray-300);
    border-radius: 0 0.475rem 0.475rem 0;
}

.ngb-dp-arrow {
    flex: none !important;
}

.ngb-dp-month:first-child .ngb-dp-week {
    padding-left: .5rem !important;
}

.ngb-dp-month:last-child .ngb-dp-week {
    padding-right: .5rem !important;
}

.ngb-dp-header .btn-link {
    padding: 0 !important;
}

.ngb-dp-header .form-select {
    background-position: right center !important;
}
//