<form cForm [formGroup]="searchForm">
  <!--begin::Card-->
  <div class="card mb-7">
    <!--begin::Card body-->
    <div class="card-body">
      <div class="row m-1 g-2">
        <!--begin::Compact form-->
        <div class="">
          <!--begin::Input group-->
          <div class="row g-4 mb-2 d-flex align-items-center">
            <div class="col-lg-6">
              <label class="fs-6 form-label fw-bold text-gray-900">
                Mã nội bộ/Số BC
              </label>
              <div class="me-md-2 position-relative">
                <i
                  class="ki-duotone ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"
                >
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                <input
                  type="text"
                  class="form-control form-control-solid ps-10"
                  name="searchText"
                  formControlName="searchText"
                  placeholder="Tìm theo mã nội bộ hoặc số báo cáo "
                />
              </div>
            </div>
            <div class="col-lg-6">
              <!--begin::Row-->
              <div class="row g-4">
                <!--begin::Col-->
                <div class="col-lg-11">
                  <label class="fs-6 form-label fw-bold text-gray-900"
                    >Trạng thái</label
                  >
                  <!--begin::Select-->
                  <select
                    class="form-select form-select-solid"
                    data-control="select2"
                    data-placeholder="In Progress"
                    data-hide-search="true"
                    name="reportStatus"
                    formControlName="reportStatus"
                  >
                    <option
                      [selected]="true"
                      value=""
                      [value]=""
                      selected="selected"
                    >
                      Tất cả
                    </option>

                    <option
                      *ngFor="
                        let status of statusList;
                        index as i;
                        first as isFirst
                      "
                      value="{{ status.id }}"
                      [value]="status.id"
                    >
                      <span [id]=""> {{ status.text }} </span>
                    </option>
                  </select>
                  <!--end::Select-->
                </div>
                <!--end::Col-->
              </div>
            </div>

            <!--end::Row-->

            <!--begin::Row-->
            <div class="row g-4">
              <div class="col-lg-6">
                <label class="fs-6 form-label fw-bold text-gray-900"
                  >Ngày tạo STR</label
                >
                <div class="row">
                  <div class="col-lg-5">
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Ngày cấp"
                      name="dateFrom"
                      formControlName="dateFrom"
                    />
                  </div>
                  <div class="col-lg-1 position-relative">
                    <span class="position-absolute top-25 start-25">đến</span>
                  </div>

                  <div class="col-lg-5">
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Ngày đến"
                      name="dateTo"
                      formControlName="dateTo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="fs-6 form-label fw-bold text-gray-900"
                  >Ngày phát hiện STR</label
                >
                <div class="row">
                  <div class="col-lg-5">
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Ngày phát hiện"
                      name="dateDetectFrom"
                      formControlName="dateDetectFrom"
                    />
                  </div>
                  <div class="col-lg-1 position-relative">
                    <span class="position-absolute top-25 start-25">đến</span>
                  </div>

                  <div class="col-lg-5">
                    <input
                      type="date"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Ngày đến"
                      name="dateDetectTo"
                      formControlName="dateDetectTo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Compact form-->

        <!--begin::Advance form-->
        <div *ngIf="isAdvandSearch">
          <!--begin::Separator-->
          <div class="separator separator-dashed mt-9 mb-6"></div>
          <!--end::Separator-->

          <!--begin::Row-->
          <div class="row g-8 mb-8">
            <!--begin::Col-->
            <div class="col-lg-6">
              <label class="fs-6 form-label fw-bold text-gray-900">
                Nộ dung
              </label>
              <div class="me-md-2 position-relative">
                <i
                  class="ki-duotone ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"
                >
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                <input
                  type="text"
                  class="form-control form-control-solid ps-10"
                  name="search"
                  value=""
                  placeholder="Nội dung key word trong báo cáo"
                />
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Row-->
        </div>
        <!--end::Advance form-->

        <div class="row g-4 mb-2 mt-0 d-flex align-items-center">
          <!--begin::Col-->
          <div class="col-lg-6 g-4">
            <!--begin:Action-->
            <div class="d-flex align-items-center">
              <button
                type="submit"
                (click)="onBtnSearch()"
                class="btn btn-info me-5"
              >
                Tìm kiếm
              </button>

              <button
                [routerLink]=""
                id="kt_horizontal_search_advanced_link"
                class="btn btn-light me-5"
                data-bs-toggle="collapse"
                (click)="clearSearch()"
              >
                <span>Xóa bộ lọc</span>
              </button>

              <a
                [routerLink]=""
                id="kt_horizontal_search_advanced_link"
                class="btn btn-link"
                data-bs-toggle="collapse"
                (click)="toggleAdvanceSearch()"
              >
                <span *ngIf="!isAdvandSearch">Tìm nâng cao</span>
                <span *ngIf="isAdvandSearch">Ẩn nâng cao</span>
              </a>
            </div>
            <!--end:Action-->
          </div>
          <!--end::Col-->
        </div>
      </div>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->

  <!--end::Search-->

  <!-- begin::Header -->
  <div class="card col-xl-12 mb-5 mb-xl-8">
    <div class="card-header align-items-center gap-2 gap-md-5">
      <!--begin::Card title-->
      <span *ngIf="isLoading" class="btn text-gray-500">
        Đang làm mới thông tin</span
      >
      <!--end::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
        <div class="w-100 mw-150px">
          <!-- <select
            class="form-select form-select-solid"
            data-control="select2"
            data-hide-search="true"
            data-placeholder="Status"
            data-kt-ecommerce-product-filter="status"
            name="sortBy"
            formControlName="sortBy"
          >
            <option disabled>Sắp xếp</option>
            <option value="latest" selected>Mới cập nhật</option>
            <option value="newest">Mới nhất</option>
            <option value="oldest">Cũ nhất</option>
          </select> -->
        </div>

        <a
          *ngIf="hasVisibleBtnAddNew()"
          routerLink="/report-str/report-two"
          class="btn btn-info"
        >
          Thêm mới STR
        </a>
      </div>
    </div>

    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="pt-0">
        <!-- <app-crud [datatableConfig]="datatableConfig" route="/apps/users" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud> -->
        <table
          class="table align-middle table-row-dashed fs-6 gy-5"
          id="kt_ecommerce_products_table"
        >
          <thead>
            <tr
              class="text-end text-gray-500 fw-bold text-uppercase text-end pe-0"
            >
              <!-- <th class="w-10px text-end pe-0">
              <div
                class="form-check form-check-sm form-check-custom form-check-solid me-3"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  data-kt-check="true"
                  data-kt-check-target="#kt_ecommerce_products_table .form-check-input"
                  value="1"
                />
              </div>
            </th> -->
              <th class="text-center min-w-100px">Mã nội bộ</th>
              <th class="text-center min-w-100px">Số BC</th>

              <th class="text-end min-w-100px">Ngày phát hiện</th>
              <th class="text-end min-w-100px">Người chịu trách nhiệm</th>
              <th class="text-end min-w-100px">Người lập báo cáo</th>
              <th class="text-end min-w-100px">Trạng thái</th>

              <th class="text-end min-w-100px">Ngày tạo</th>
              <th class="text-end min-w-70px">Ngày kiểm soát</th>
              <th class="text-end min-w-100px">Ngày phê duyệt</th>

              <!-- <th class="text-end min-w-100px">Ngày tiếp nhận</th>
            <th class="text-end min-w-100px">Người tiếp nhận</th> -->
              <th class="text-end min-w-100px"></th>
            </tr>
          </thead>

          <tbody
            style="min-height: 500px"
            class="fw-semibold text-gray-800"
            *ngFor="
              let record of searchResultData?.records;
              index as i;
              first as isFirst
            "
          >
            <tr id="{{ i }}">
              <!-- <td>
              <div
                class="form-check form-check-sm form-check-custom form-check-solid"
              >
                <input class="form-check-input" type="checkbox" value="1" />
              </div>
            </td> -->

              <td class="text-center pe-0">
                <span
                  (click)="onPreview(record)"
                  class="text-gray-800 text-hover-primary fw-bold text-end cursor-pointer"
                >
                  {{ record?.str_internal_number }}
                </span>
                <br />
              </td>

              <td class="text-center pe-0">
                <span
                  (click)="onPreview(record)"
                  class="text-gray-800 text-hover-primary fw-bold text-end cursor-pointer"
                >
                  {{ record?.so_bao_cao }}
                </span>
                <br />
              </td>

              <td class="text-end pe-0">
                <span *ngIf="record?.ngay_phat_hien" class="fw-bold">
                  <div class="fs-sm badge badge-light-success">
                    {{ record?.ngay_phat_hien | date : "dd/MM/yyyy" }}
                  </div></span
                >
              </td>

              <td class="text-end pe-0">
                {{ record?.nguoi_chiu_trach_nhiem ?? "" }}
              </td>

              <td class="text-end pe-0">
                {{ record?.nguoi_lap_bao_cao ?? "" }}
              </td>

              <td class="text-end pe-0" data-order="Inactive">
                <div class="fs-lg  badge badge-light-info text-xs">
                  {{ getParseSTRStatus(record) }}
                </div>
              </td>

              <td class="text-end pe-0" data-order="Inactive">
                <span *ngIf="record?.created_at">
                  <div class="fs-sm  badge badge-light-success">
                    {{ record?.created_at | date : "dd/MM/yyyy" }}
                  </div>
                </span>
              </td>

              <td class="text-end pe-0" data-order="Inactive">
                <div
                  *ngIf="record?.approved_at"
                  class="fs-sm badge badge-light-success"
                >
                  {{ record?.approved_at | date : "dd/MM/yyyy" }}
                </div>
              </td>

              <td class="text-end pe-0" data-order="Inactive">
                <span *ngIf="record?.sent_at">
                  <div class="fs-sm badge badge-light-success">
                    {{ record?.sent_at | date : "dd/MM/yyyy" }}
                  </div>
                </span>
              </td>

              <!-- <td class="text-end pe-0">
              <span *ngIf="record?.received_at" class="fw-bold">
                <div class="badge badge-light-success">
                  {{ record?.received_at | date : "dd/MM/yyyy" }}
                </div></span
              >
            </td>

            <td class="text-end pe-0">
              <span *ngIf="record?.received_by" >
                
                  {{ record?.received_by}}
                </span
              >
            </td> -->

              <td class="text-end">
                <div
                  id="kt_record_menu-{{ record?.id }}"
                  class="kt_record_menu btn btn-sm btn-light btn-flex btn-center btn-active-light-primary {{
                    this.recordActiveIndex == i ? 'show' : ''
                  }}"
                  data-kt-menu-trigger="click"
                  data-kt-menu-placement="right-end"
                  (click)="toggleRecordActive(i)"
                >
                  Thao tác <i class="ki-duotone ki-down fs-5 ms-1"></i>
                </div>
                <!--begin::Menu-->
                <div
                  class="{{
                    this.recordActiveIndex == i ? 'show absolute ' : ''
                  }} menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4"
                  data-kt-menu="true"
                >
                  <!--begin::Menu item-->
                  <div *ngIf="hasVisibleBtnEdit(record)" class="menu-item px-3">
                    <div
                      (click)="navigateToEdit(record)"
                      class="menu-link px-3"
                    >
                      Chỉnh sửa
                    </div>
                  </div>

                  <div *ngIf="hasVisibleBtnView(record)" class="menu-item px-3">
                    <div (click)="onPreview(record)" class="menu-link px-3">
                      Xem chi tiết
                    </div>
                  </div>
                  <!--end::Menu item-->

                  <!--begin::Menu item-->
                  <div
                    *ngIf="hasVisibleBtnDelete(record)"
                    class="menu-item px-3"
                  >
                    <div
                      (click)="onDeleteItem(record)"
                      class="menu-link px-3"
                      data-kt-ecommerce-product-filter="delete_row"
                    >
                      Xóa
                    </div>
                  </div>

                  <div class="menu-item px-3"></div>
                  <!--end::Menu item-->
                </div>
                <!--end::Menu-->
              </td>
            </tr>
          </tbody>
        </table>

        <div
          class="d-flex flex-stack flex-wrap pt-10"
          *ngIf="
            searchResultData?.records && searchResultData?.records?.length == 0
          "
        >
          <div class="fs-6 fw-semibold text-gray-700">Không có dữ liệu</div>
        </div>

        <!--begin::Pagination-->
        <div
          *ngIf="
            searchResultData?.records && searchResultData?.records?.length > 0
          "
          class="d-flex flex-stack flex-wrap pt-10"
        >
          <div class="fs-6 fw-semibold text-gray-700">
            Đang hiển thị
            {{
              searchResultData?.pageInfo?.pageIndex *
                searchResultData?.pageInfo?.pageSize +
                1
            }}
            đến
            {{
              (searchResultData?.pageInfo?.pageIndex + 1) *
                searchResultData?.pageInfo?.pageSize
            }}
            của {{ searchResultData?.pageInfo?.totalRecord }} dòng.
          </div>

          <!--begin::Pages-->
          <ul class="pagination">
            <li *ngIf="this.pageIndex - 1 >= 0" class="page-item previous">
              <a
                (click)="changePage(this.pageIndex - 1)"
                class="page-link cursor-pointer"
              >
                <i class="previous"></i>
              </a>
            </li>

            <li class="page-item active">
              <a class="page-link cursor-pointer">{{ this.pageIndex + 1 }}</a>
            </li>

            <li
              *ngIf="this.pageIndex + 1 < totalPage"
              class="page-item cursor-pointer"
            >
              <a (click)="changePage(this.pageIndex + 1)" class="page-link">{{
                this.pageIndex + 2
              }}</a>
            </li>

            <li *ngIf="this.pageIndex + 2 < totalPage" class="page-item next">
              <a
                (click)="changePage(this.pageIndex + 2)"
                class="page-link cursor-pointer"
              >
                <i class="next"></i>
              </a>
            </li>
          </ul>

          <!--end::Pages-->
        </div>
        <!-- end::Table container -->
      </div>
    </div>
    <!-- begin::Body -->
  </div>
</form>
